* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.title-wrapper,
.items-wrapper {
    margin: 10px;
    padding: 5px;
}

#title {
    display: inline-block;
    padding: 10px;
    background-color: lightgray;
}

.item {
    display: inline-block;
    background-color: lightgray;
    margin: 0px 20px 20px 0px;
}

.item-left {
    float: left;
    max-height: 100px;
    max-width: 100px;
    min-width: 50px;
}

.item-right {
    float: left;
}

.item-title {
    color: black;
    padding: 10px 10px 0px 10px;
}

.item-desc {
    color: darkgray;
    padding: 10px 10px 0px 10px;
}

img {
    max-width: 100%;
}


/*Font styles*/

#title,
.item-title {
    font-family: 'Roboto Slab', serif;
}

.item-desc {
    font-family: 'Raleway', sans-serif;
}