* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper,
.card {
    padding: 20px;
}

.card {
    max-width: 33%;
    float: left;
}

#main.wrapper {
    margin: 0 auto;
    max-width: 1000px;
}